<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name = "first_name" placeholder="Enter your fname"></br>

    <input type="text" name = "last_name" placeholder="Enter your lname"></br>
    <input type="text" name = "short_name" placeholder="Enter your shortname"></br>
    <input type="text" name = "email" placeholder="Enter email"></br>
    <input type="text" name = "address" placeholder="enter address"></br>
    <input type="text" name = "mobile" placeholder="mobile no"></br>

    <input type="submit" value="Update">
</form>
